<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liebe.blogbackend.mapper.account.AccountMapper">
    <select id="findByUserName" parameterType="com.liebe.blogbackend.entity.Account"
            resultType="com.liebe.blogbackend.entity.Account">
        select * from account where username = #{username} and password = #{password}
    </select>
    <insert id="addAccount" parameterType="com.liebe.blogbackend.entity.Account">
        insert into account(username, password) values(#{username}, #{password})
    </insert>
</mapper>